.card {
    margin: 20px;
    width: 18rem;
    background-color:mediumseagreen;
    border-radius: 15px;
    box-shadow: 12px 12px 2px 1px rgba(27, 27, 27, 0.6);
    border: 2px solid palegreen;
    transition: transform .5s;
  }

.card:hover{
    transform: scale(1.1);
}

.city {
    color:palegreen;
}

.city:hover {
    color:rgb(247, 185, 72);
}

.close {
    display: flex;
    justify-content: flex-end;
    margin-right: 4px;
    margin-top: 4px;
}
.btn {
    background-color: lightgoldenrodyellow;
    justify-content: flex-end;
    color: mediumseagreen;
    border-radius: 50%;
    font-weight: bold;
    border: 2px solid palegreen;
}

.btn:hover {
    background-color: mediumseagreen;
    color: whitesmoke;
}

.btn:focus {
    outline: none;
}

.temps {
    font-size: 20px;
    color:whitesmoke;
}
.temps2 {
    font-size: 16px;
    color:whitesmoke;
}
.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

  .prueba:hover{
      color: mediumseagreen;

  }